.main-advantages__title {
  line-height: 40px;
  color: @black-color;
  margin-bottom: 38px;
}

.main-advantages__list {
  list-style: none;
  margin: 0;
  margin-bottom: 42px;
  padding: 0;
}

.main-advantages__description {
  .main-description;
}
