.main-example {
  background-color: @special-light-gray;
}

.main-example__title {
  line-height: 40px;
  color: @black-color;
  margin-top: 27px;
  margin-bottom: 33px;
}

.main-example__description {
  .main-description;
}

.main-example__list,
.main-example__slider-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-example__item-description {
  font-size: 24px;
  line-height: 24px;
  color: @black-color;
  text-transform: uppercase;
}

.main-example__item-clarification {
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  color: @special-dark-gray;
}

.main-example__list-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: @black-color;
  text-transform: uppercase;
}

.main-example__toggle-description {
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 20px;
  color: @black-color;
}
