.main-product__list {
  list-style: none;
  background-color: @special-gray;
  margin: 0;
  padding: 30px 20px 18px 20px;
}

.main-product__title {
  font-family: @font-family-origin;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  margin: 0;
  margin-bottom: 29px;
}

.main-product__description {
  .main-description;
  border-bottom: 1px solid @gray-color-darker;
  padding-bottom: 23px;
}

.main-product__button-title {
  font-family: @font-family-origin;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: @black-color;
}
