.main-promo {
  background-color: @green-bg-color;
}

.main-promo__header {
  line-height: 36px;
  color: @white-color;
  text-align: center;
}

.main-promo__sub-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: @white-color;
  text-align: center;
}

.main-promo__button {
  .all-buttons;
}

.main-promo__button:hover {
  background-color: @basic-green-hover;
}

.main-promo__button:active {
  opacity: 0.3;
}
