@font-face {
  font-family: "Oswald";
  src: url("/source/fonts/oswaldmedium.woff") format("woff"),
    url("/source/fonts/oswaldmedium.woff2") format("woff2"),
    url("/source/fonts/oswaldregular.woff") format("woff"),
    url("/source/fonts/oswaldregular.woff2") format("woff2");
}

.page__body {
  font-family: "Oswald", sans-serif;
  width: 320px;
}
