.map {
  position: relative;
  margin-top: 14px;

  @media (min-width: @desktop-width) {
    margin-bottom: 23px;
  }
}

/*.map::after {
  @media (min-width: @desktop-width) {
    content: "";
    position: absolute;
    z-index: -1;
    top: -460px;
    min-width: 1440px;
    height: 462px;
    background-color: @special-gray;
  }
}*/

.map--dark {
  background-color: @special-gray;
}

.map--light {
  background-color: @white-color;
}

.map__wrapper {
  margin-bottom: 14px;
}

.map__header {
  display: flex;
  justify-content: space-between;
  margin: 0 20px 0 20px;

  @media (min-width: @tablet-width) {
<<<<<<< HEAD
    padding: 54px 50px 63px 50px;
=======
    padding: 54px 40px 63px 40px;
>>>>>>> e2981e507288950ae5bf32975bee9d6c9c127831
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    z-index: 1;
<<<<<<< HEAD
    top: 95px;
    left: 89px;
=======
    top: 97px;
>>>>>>> e2981e507288950ae5bf32975bee9d6c9c127831
    align-items: center;
    width: 405px;
    height: 201px;
    background-color: @white-color;
    padding: 0 89px 0 76px;
  }
}

.map__description {
  font-family: @font-family-origin;
  font-size: 16px;
  line-height: 20px;
  color: @special-black-color;
  text-transform: uppercase;
  padding-top: 12px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
<<<<<<< HEAD
    line-height: 25px;
=======
    line-height: 24px;
>>>>>>> e2981e507288950ae5bf32975bee9d6c9c127831
    margin: 0 295px 0 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0 108px 0 0;
  }
}

.map__adress {
  .main-description;
  padding-top: 12px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    text-align: left;
<<<<<<< HEAD
=======
    margin-bottom: 13px;
>>>>>>> e2981e507288950ae5bf32975bee9d6c9c127831
  }
}

.map__map {
<<<<<<< HEAD
=======
  height: 371px;

>>>>>>> e2981e507288950ae5bf32975bee9d6c9c127831
  @media (min-width: @desktop-width) {
    height: 400px;
  }
}
