.map {
  position: relative;
  margin-top: 2px;

  @media (min-width: @desktop-width) {
    margin-bottom: 23px;
  }
}

/*.map::after {
  @media (min-width: @desktop-width) {
    content: "";
    position: absolute;
    z-index: -1;
    top: -460px;
    min-width: 1440px;
    height: 462px;
    background-color: @special-gray;
  }
}*/

.map--dark {
  background-color: @special-gray;
}

.map--light {
  background-color: @white-color;
}

.map__wrapper {
  margin-bottom: 14px;
}

.map__header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;

  @media (min-width: @tablet-width) {
    padding: 54px 40px 63px 40px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    z-index: 1;
    top: 97px;
    align-items: center;
    width: 405px;
    height: 201px;
    background-color: @white-color;
    padding: 0 89px 0 76px;
  }
}

.map__description {
  font-family: @font-family-origin;
  font-size: 16px;
  line-height: 20px;
  color: @special-black-color;
  text-transform: uppercase;
  padding-top: 10px;

  @media (min-width: @tablet-width) {
    width: 171px;
    font-size: 20px;
    line-height: 24px;
    margin: 0 295px 0 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0 96px 0 0;
    padding-top: 5px;
  }
}

.map__adress {
  display: flex;
  flex-direction: column;
  .main-description;
  padding-top: 14px;

  @media (min-width: @tablet-width) {
    width: 159px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    margin: 0;
    padding-top: 0px;
  }

  @media (min-width: @desktop-width) {
    text-align: left;
    padding-top: 0;
  }
}

.map__adress-street {
  font-size: 14px;
  line-height: 20px;
  width: 138px;
  margin: 0;
  margin-top: 14px;

  @media (min-width: @tablet-width) {
    width: 159px;
    margin-top: 7px;
    font-size: 16px;
    line-height: 20px;
  }
}

.map__adress-city {
  font-size: 14px;
  line-height: 20px;
  width: 138px;
  margin: 0;

  @media (min-width: @tablet-width) {
    width: 159px;
    font-size: 16px;
    line-height: 20px;
    padding-top: 20px;
  }
}

.map__map {
  height: 371px;

  @media (min-width: @tablet-width) {
    height: 400px;
  }
}
