.action__description {
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: @white-color;

  @media (min-width: @desktop-width) {
    display: inline-block;
    width: 245px;
  }
}
