.form-page__common,
.form-page__preferences,
.form-page__contact,
.form-page__comment,
.form-page__additional {
  border: none;
  margin: 0;
  padding: 0;
}

.form-page__common {
  padding-bottom: 24px;
  border-bottom: 1px solid @gray-color-darker;
}

.form-page__preferences {
  padding-bottom: 20px;
  border-bottom: 1px solid @gray-color-darker;
}

.form-page__title {
  line-height: 36px;
  margin-top: 0;
  margin-bottom: 37px;
}

.form-page__description {
  font-family: @font-family-origin;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.form-page__label {
  .form-label;
}

.form-page__input {
  .form-label;
  padding-left: 15px;
  padding-top: 13px;
  padding-bottom: 14px;
}

.form-page__contact-title,
.form-page__comment-title,
.form-page__additional-title {
  .form-title;
}

.form-page__textarea {
  width: 280px;
  height: 151px;
  padding-top: 10px;
  padding-left: 15px;
  .form-label;
}

.form-page__button {
  .all-buttons;
  border: none;
  margin-bottom: 21px;
}

.form-page__button:hover {
  background-color: @basic-green-hover;
}

.form-page__button:active {
  color: @white-color-opacity;
}

.form-page__clarification {
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}
